body {
    font-family: Roboto;
    margin: 0;
}

#hero {
    background-color: #1F2937;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px 0 120px;
}

.hero-wrapper,
.services-wrapper,
.quote-wrapper,
.footer-wrapper {
  width: 60%;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: underline;
}

#hero img {
    max-width: 400px;
    border-radius: 12px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
}

.nav-wrapper {
    display: flex;
    align-items: flex-end;
}

.navigation h1 {
    font-size: 24px;
    font-weight: 900;
}

.navigation ul li {
    display: inline;
    padding-left: 20px;
}

.introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.introduction .intro-wrapper {
    max-width: 50%;
    padding-right: 40px;
}

.introduction h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-top: 0;
    margin-bottom: 10px;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
}

.sign-up-button {
    font-weight: bold;
    background-color: #3882F6;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}

.sign-up-button:hover {
    background-color: #255bb1;;
}

#services {
    display: flex;
    justify-content: center;
    padding: 40px 0 120px;
}

#services .heading {
    color: #1F2937;
    font-size: 36px;
    text-align: center;
    padding-bottom: 20px;
}

#services .thumbnail-img img {
    max-width: 100%;
    border-radius: 12px;
}

.thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.thumbnail {
    padding-left: 5%;
}

.thumbnail-text {
    color: grey;
    text-align: center;
}

.thumbnail:first-child {
    padding-left: 0;
}

#testimonial {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 60px 0 60px;
}

.quote-wrapper {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote {
    margin-bottom: 0;
}

.author {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    text-align: end;
    margin-top: 12px;
}

#footer {
    display: flex;
    justify-content: center;
    padding: 80px 0;
}

.footer-wrapper {
    background-color: #3882F6;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 20px 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper .wrapper {
    display: flex;
    flex-direction: column;
}

.footer-wrapper .heading {
    margin-bottom: 0;
}

.footer-wrapper p {
    margin-top: 5px;
    font-size: 16px;
    color: #fff;
}

.footer-wrapper .button {
    background-color: transparent;
    color: #fff;
    border: #fff 1px solid;
    padding: 10px 20px;
    border-radius: 8px;
}

.footer-wrapper .button:hover {
    border: #fff 2px solid;
    font-weight: bold;
}
